cloudflare_api_token = "replace_me"
cloudflare_zone_id   = "replace_me"

environment    = "ticketstage"
security_level = "medium"

dns_records = {
  api = {
    name    = "api"
    value   = "k8s-ticketstage-api-xxxxxxxx.us-east-1.elb.amazonaws.com"
    type    = "CNAME"
    proxied = true
  }
  www = {
    name    = "www"
    value   = "dxxxxxxxxxxxxx.cloudfront.net"
    type    = "CNAME"
    proxied = true
  }
}
